absl-py==0.11.0
aio-pika==6.8.0
aiofiles==0.7.0
aiohttp==3.7.4
aiormq==3.3.1
appdirs==1.4.4
appnope==0.1.2
APScheduler==3.7.0
argon2-cffi==20.1.0
argunparse==0.1.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
audioread==2.1.9
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
bidict==0.21.2
bleach==3.3.0
boto3==1.17.78
botocore==1.20.78
braintree==4.6.0
breadability==0.1.20
cachelib==0.1.1
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorclass==2.2.0
coloredlogs==15.0
colorhash==1.0.3
conllu==4.3
cryptography==3.4.7
cycler==0.10.0
Cython==0.29.21
DAWG-Python==0.7.2
decorator==4.4.2
defusedxml==0.7.1
dm-tree==0.1.6
dnspython==1.16.0
docopt==0.6.2
editdistance==0.5.3
efficientnet==1.0.0
email-validator==1.1.2
entrypoints==0.3
essential-generators==1.0
fbmessenger==6.0.0
ffpyplayer==4.3.2
filelock==3.0.12
Flask==1.1.2
Flask-Babel==2.0.0
Flask-Login==0.5.0
flask-mongoengine==1.0.0
Flask-Session==0.3.2
Flask-SocketIO==5.0.1
Flask-Table==0.5.0
Flask-WTF==0.14.3
flatbuffers==1.12
fonttools==4.19.1
future==0.18.2
gast==0.3.3
gensim==4.0.1
gitdb==4.0.7
GitPython==3.1.18
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
h11==0.9.0
h5py==2.10.0
httpcore==0.11.1
httplib2==0.19.1
httptools==0.1.2
httpx==0.15.4
huggingface-hub==0.0.12
humanfriendly==9.1
idna==2.8
imageio==2.9.0
imgaug==0.4.0
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==0.15.1
jsonify==0.5
jsonpickle==2.0.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kafka-python==2.0.2
Keras==2.4.3
Keras-Applications==1.0.8
keras-ocr==0.8.6
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.3.1
librosa==0.8.1
llvmlite==0.36.0
lxml==4.6.3
Markdown==3.3.3
MarkupSafe==1.1.1
mat4py==0.5.0
matplotlib==3.3.4
matplotlib-inline==0.1.2
mattermostwrapper==2.2
mistune==0.8.4
mongoengine==0.22.1
mtcnn==0.1.0
multidict==4.7.6
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5
nltk==3.6.2
notebook==6.4.0
numba==0.53.1
numpy==1.18.0
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.9
pamqp==2.3.0
pandas==1.2.5
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
pooch==1.3.0
praat-parselmouth==0.4.0
prettytable==2.1.0
prometheus-client==0.11.0
prompt-toolkit==2.0.10
protobuf==3.14.0
psycopg2-binary==2.8.6
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pyclipper==1.2.1
pycountry==20.7.3
pycparser==2.20
pydantic==1.3
pydot==1.4.2
pydub==0.25.1
Pygments==2.9.0
PyJWT==2.1.0
pykwalify==1.8.0
pymongo==3.10.1
pymorphy2-dicts==2.4.393442.3710985
pyobjc==7.3
pyobjc-core==7.3
pyobjc-framework-Accounts==7.3
pyobjc-framework-AddressBook==7.3
pyobjc-framework-AdSupport==7.3
pyobjc-framework-AppleScriptKit==7.3
pyobjc-framework-AppleScriptObjC==7.3
pyobjc-framework-ApplicationServices==7.3
pyobjc-framework-AuthenticationServices==7.3
pyobjc-framework-AutomaticAssessmentConfiguration==7.3
pyobjc-framework-Automator==7.3
pyobjc-framework-AVFoundation==7.3
pyobjc-framework-AVKit==7.3
pyobjc-framework-BusinessChat==7.3
pyobjc-framework-CalendarStore==7.3
pyobjc-framework-CFNetwork==7.3
pyobjc-framework-CloudKit==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Collaboration==7.3
pyobjc-framework-ColorSync==7.3
pyobjc-framework-Contacts==7.3
pyobjc-framework-ContactsUI==7.3
pyobjc-framework-CoreAudio==7.3
pyobjc-framework-CoreAudioKit==7.3
pyobjc-framework-CoreBluetooth==7.3
pyobjc-framework-CoreData==7.3
pyobjc-framework-CoreHaptics==7.3
pyobjc-framework-CoreLocation==7.3
pyobjc-framework-CoreMedia==7.3
pyobjc-framework-CoreMediaIO==7.3
pyobjc-framework-CoreMIDI==7.3
pyobjc-framework-CoreML==7.3
pyobjc-framework-CoreMotion==7.3
pyobjc-framework-CoreServices==7.3
pyobjc-framework-CoreSpotlight==7.3
pyobjc-framework-CoreText==7.3
pyobjc-framework-CoreWLAN==7.3
pyobjc-framework-CryptoTokenKit==7.3
pyobjc-framework-DeviceCheck==7.3
pyobjc-framework-DictionaryServices==7.3
pyobjc-framework-DiscRecording==7.3
pyobjc-framework-DiscRecordingUI==7.3
pyobjc-framework-DiskArbitration==7.3
pyobjc-framework-DVDPlayback==7.3
pyobjc-framework-EventKit==7.3
pyobjc-framework-ExceptionHandling==7.3
pyobjc-framework-ExecutionPolicy==7.3
pyobjc-framework-ExternalAccessory==7.3
pyobjc-framework-FileProvider==7.3
pyobjc-framework-FileProviderUI==7.3
pyobjc-framework-FinderSync==7.3
pyobjc-framework-FSEvents==7.3
pyobjc-framework-GameCenter==7.3
pyobjc-framework-GameController==7.3
pyobjc-framework-GameKit==7.3
pyobjc-framework-GameplayKit==7.3
pyobjc-framework-ImageCaptureCore==7.3
pyobjc-framework-IMServicePlugIn==7.3
pyobjc-framework-InputMethodKit==7.3
pyobjc-framework-InstallerPlugins==7.3
pyobjc-framework-InstantMessage==7.3
pyobjc-framework-Intents==7.3
pyobjc-framework-IOSurface==7.3
pyobjc-framework-iTunesLibrary==7.3
pyobjc-framework-LatentSemanticMapping==7.3
pyobjc-framework-LaunchServices==7.3
pyobjc-framework-libdispatch==7.3
pyobjc-framework-LinkPresentation==7.3
pyobjc-framework-LocalAuthentication==7.3
pyobjc-framework-MapKit==7.3
pyobjc-framework-MediaAccessibility==7.3
pyobjc-framework-MediaLibrary==7.3
pyobjc-framework-MediaPlayer==7.3
pyobjc-framework-MediaToolbox==7.3
pyobjc-framework-Metal==7.3
pyobjc-framework-MetalKit==7.3
pyobjc-framework-MetalPerformanceShaders==7.3
pyobjc-framework-ModelIO==7.3
pyobjc-framework-MultipeerConnectivity==7.3
pyobjc-framework-NaturalLanguage==7.3
pyobjc-framework-NetFS==7.3
pyobjc-framework-Network==7.3
pyobjc-framework-NetworkExtension==7.3
pyobjc-framework-NotificationCenter==7.3
pyobjc-framework-OpenDirectory==7.3
pyobjc-framework-OSAKit==7.3
pyobjc-framework-OSLog==7.3
pyobjc-framework-PencilKit==7.3
pyobjc-framework-Photos==7.3
pyobjc-framework-PhotosUI==7.3
pyobjc-framework-PreferencePanes==7.3
pyobjc-framework-PushKit==7.3
pyobjc-framework-Quartz==7.3
pyobjc-framework-QuickLookThumbnailing==7.3
pyobjc-framework-SafariServices==7.3
pyobjc-framework-SceneKit==7.3
pyobjc-framework-ScreenSaver==7.3
pyobjc-framework-ScriptingBridge==7.3
pyobjc-framework-SearchKit==7.3
pyobjc-framework-Security==7.3
pyobjc-framework-SecurityFoundation==7.3
pyobjc-framework-SecurityInterface==7.3
pyobjc-framework-ServiceManagement==7.3
pyobjc-framework-Social==7.3
pyobjc-framework-SoundAnalysis==7.3
pyobjc-framework-Speech==7.3
pyobjc-framework-SpriteKit==7.3
pyobjc-framework-StoreKit==7.3
pyobjc-framework-SyncServices==7.3
pyobjc-framework-SystemConfiguration==7.3
pyobjc-framework-SystemExtensions==7.3
pyobjc-framework-UserNotifications==7.3
pyobjc-framework-VideoSubscriberAccount==7.3
pyobjc-framework-VideoToolbox==7.3
pyobjc-framework-Vision==7.3
pyobjc-framework-WebKit==7.3
pyparsing==2.4.7
pyquaternion==0.9.9
pyrsistent==0.17.3
pyTelegramBotAPI==3.7.9
pytesseract==0.3.7
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-engineio==4.0.0
python-socketio==5.0.4
python-speech-features==0.6
pytorch-pretrained-bert==0.6.2
pytz==2019.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.0
QtPy==1.9.0
questionary==1.9.0
rasa==2.6.2
rasa-sdk==2.6.0
redis==3.5.3
regex==2020.9.27
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
resampy==0.2.2
rfc3986==1.5.0
rocketchat-API==1.15.0
rsa==4.7
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
s3transfer==0.4.2
sacremoses==0.0.45
sanic==20.9.0
Sanic-Cors==0.10.0.post3
sanic-jwt==1.5.0
Sanic-Plugins-Framework==0.9.5
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.4.1
selenium==3.141.0
semver==2.13.0
Send2Trash==1.5.0
sentry-sdk==0.19.5
Shapely==1.7.1
six==1.15.0
sklearn-crfsuite==0.3.6
slackclient==2.9.3
smart-open==5.1.0
smmap==4.0.0
sniffio==1.2.0
sounddevice==0.4.1
SoundFile==0.10.3.post1
soupsieve==2.2.1
SQLAlchemy==1.3.24
starlette==0.12.9
sumy==0.8.1
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.3.2
tensorflow-addons==0.12.0
tensorflow-estimator==2.3.0
tensorflow-hub==0.10.0
tensorflow-probability==0.11.1
tensorflow-text==2.3.0
termcolor==1.1.0
terminado==0.10.0
terminaltables==3.1.0
tesseract==0.1.3
testpath==0.5.0
threadpoolctl==2.1.0
tifffile==2021.2.1
tokenizers==0.10.3
torch==1.8.1
tornado==6.1
tqdm==4.41.1
traitlets==5.0.5
transformers==4.8.1
twilio==6.50.1
typeguard==2.12.0
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==4.0.2
urllib3==1.25.11
uvicorn==0.11.7
uvloop==0.14.0
validators==0.18.2
version-query==1.1.0
wcwidth==0.2.5
webencodings==0.5.1
webexteamssdk==1.6
webrtcvad==2.0.10
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==2.3.3
yarl==1.6.3
